In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# load dataset
df = pd.read_excel('online_retail.xlsx')

# view sample dataset
df.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
328713,565801,POST,POSTAGE,3,2011-09-07 10:28:00,18.00,12685.0,France
448626,575066,84949,SILVER HANGING T-LIGHT HOLDER,6,2011-11-08 12:42:00,1.65,13668.0,United Kingdom
114987,546096,22427,ENAMEL FLOWER JUG CREAM,3,2011-03-09 11:59:00,5.95,15502.0,United Kingdom
449197,575087,20728,LUNCH BAG CARS BLUE,1,2011-11-08 13:57:00,1.65,16549.0,United Kingdom
10223,537237,16238,PARTY TIME PENCIL ERASERS,5,2010-12-06 09:58:00,0.43,NaN,United Kingdom